In [12]:
pip install tweepy

Requirement already satisfied: tweepy in c:\users\bot-pc\anaconda3\lib\site-packages (3.10.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\bot-pc\anaconda3\lib\site-packages (from tweepy) (1.3.0)
Requirement already satisfied: requests[socks]>=2.11.1 in c:\users\bot-pc\anaconda3\lib\site-packages (from tweepy) (2.22.0)
Requirement already satisfied: six>=1.10.0 in c:\users\bot-pc\anaconda3\lib\site-packages (from tweepy) (1.12.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\bot-pc\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bot-pc\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2019.9.11)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\bot-pc\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.24.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\bot-pc\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\bot-pc\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (2.8)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6; extra == "socks" in c:\users\bot-pc\anaconda3\lib\site-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import json
import csv
import tweepy
import re

In [6]:
def search_for_hashtags(consumer_key, consumer_secret, access_token, access_token_secret, hashtag_phrase):
    
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_token_secret)

    api = tweepy.API(auth)
    
    fname = '_'.join(re.findall(r"#(\w+)", hashtag_phrase))

    with open('%s.csv' % (fname), 'w') as file:

        w = csv.writer(file)

        w.writerow(['tweet-text', 'retweet-count'])

        for tweet in tweepy.Cursor(api.search, q=hashtag_phrase, \
                                   lang="en", tweet_mode='extended').items(1200):
            w.writerow([tweet.full_text.replace('\n',' ').encode('utf-8'),tweet.retweet_count])

In [8]:
consumer_key = input('Consumer Key ')
consumer_secret = input('Consumer Secret ')
access_token = input('Access Token ')
access_token_secret = input('Access Token Secret ')

    
hashtag_phrase = input('Hashtag Phrase ')

if __name__ == '__main__':
    search_for_hashtags(consumer_key, consumer_secret, access_token, access_token_secret, hashtag_phrase)

Consumer Key CV5jO2XwGx5tynhPCMuXTAG9l
Consumer Secret XSBkkW34ku6MYg5WDLPOKkzQcLuuy8cFgRHGW0Faib1Lk4MtKR
Access Token 1357905997600337920-012hITdhKrLFXFegW5cuNzNWsEmPUX
Access Token Secret PPNMdKWjFr6nW99uRkpJ0oGw1V0UIuA2fQUIOAjXKmoFy
Hashtag Phrase #covid

In [10]:
import pandas as pd
import numpy as np

In [11]:
data = pd.read_csv(r'C:\Users\BOT-PC\Desktop\DM\covid.csv')

In [13]:
data.head()

                                          tweet-text  retweet-count
0  b"RT @nmsu: #NMSU has hosted weekly #COVID-19 ...              8
1  b'RT @scrowder: Of course, the party (and medi...           1705
2  b'To everyone who is in #covid #lockdown and f...              0
3  b'RT @AshwiniBhide: Had the first dose of #COV...             67
4  b'RT @scrowder: Of course, the party (and medi...           1705

In [14]:
data.shape

(1200, 2)

In [24]:
data.columns=['tweet_text','retweet_count']

In [25]:
def get_target_column(retweet_count):
    
    if retweet_count > 1000:
        return 'Class A'
    else:
        return 'Class B'
    
data['target'] = data['retweet_count'].apply(get_target_column)

In [26]:
data

,tweet_text,retweet_count,target
0,"b""RT @nmsu: #NMSU has hosted weekly #COVID-19 ...",8,Class B
1,"b'RT @scrowder: Of course, the party (and medi...",1705,Class A
2,b'To everyone who is in #covid #lockdown and f...,0,Class B
3,b'RT @AshwiniBhide: Had the first dose of #COV...,67,Class B
4,"b'RT @scrowder: Of course, the party (and medi...",1705,Class A
...,...,...,...
1195,b'Doing some purging to pass the time and came...,0,Class B
1196,b'RT @lizmartinlabour: The sun setting on #bus...,4,Class B
1197,"b'RT @scrowder: Of course, the party (and medi...",1705,Class A
1198,"b'#Covid Watch ""CA person dies hours after rec...",0,Class B
1199,b'RT @marcorubio: Day after Trump issued a #Co...,5144,Class A

In [27]:
!pip install tweet-preprocessor

Collecting tweet-preprocessor
  Downloading https://files.pythonhosted.org/packages/17/9d/71bd016a9edcef8860c607e531f30bd09b13103c7951ae73dd2bf174163c/tweet_preprocessor-0.6.0-py3-none-any.whl
Installing collected packages: tweet-preprocessor
Successfully installed tweet-preprocessor-0.6.0

In [28]:
import preprocessor as p

data['cleaned_text'] = data['tweet_text'].apply(p.clean)

In [29]:
data[['tweet_text', 'cleaned_text']]

,tweet_text,cleaned_text
0,"b""RT @nmsu: #NMSU has hosted weekly #COVID-19 ...","b""RT : has hosted weekly distribution events t..."
1,"b'RT @scrowder: Of course, the party (and medi...","b'RT : Of course, the party (and media) that k..."
2,b'To everyone who is in #covid #lockdown and f...,b'To everyone who is in and feeling like shit....
3,b'RT @AshwiniBhide: Had the first dose of #COV...,b'RT : Had the first dose of vaccine today at ...
4,"b'RT @scrowder: Of course, the party (and medi...","b'RT : Of course, the party (and media) that k..."
...,...,...
1195,b'Doing some purging to pass the time and came...,b'Doing some purging to pass the time and came...
1196,b'RT @lizmartinlabour: The sun setting on #bus...,b'RT : The sun setting on ... How to bring a c...
1197,"b'RT @scrowder: Of course, the party (and medi...","b'RT : Of course, the party (and media) that k..."
1198,"b'#Covid Watch ""CA person dies hours after rec...","b' Watch ""CA person dies hours after receiving..."
1199,b'RT @marcorubio: Day after Trump issued a #Co...,b'RT : Day after Trump issued a travel ban on ...

In [30]:
cleaned_data = data[['cleaned_text','target']]

In [31]:
cleaned_data.head()

                                        cleaned_text   target
0  b"RT : has hosted weekly distribution events t...  Class B
1  b'RT : Of course, the party (and media) that k...  Class A
2  b'To everyone who is in and feeling like shit....  Class B
3  b'RT : Had the first dose of vaccine today at ...  Class B
4  b'RT : Of course, the party (and media) that k...  Class A

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer

X = cleaned_data[['cleaned_text']]
y = cleaned_data[['target']]

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer
td = TfidfVectorizer(max_features = 4500)
X = td.fit_transform(X['cleaned_text'].to_list()).toarray()

In [39]:

from sklearn.model_selection import train_test_split

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=100)

In [43]:
X.shape

(1200, 3387)

In [44]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB()
classifier.fit(X_train, y_train)

C:\Users\BOT-PC\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [45]:
y_pred = classifier.predict(X_test)

In [46]:
from sklearn.metrics import accuracy_score, classification_report
classification_report = classification_report(y_test, y_pred)

print('\n Accuracy: ', accuracy_score(y_test, y_pred))
print('\nClassification Report')
print('=============================================')
print('\n', classification_report)

 Accuracy:  0.9805555555555555

Classification Report
=============================================

               precision    recall  f1-score   support

     Class A       1.00      0.89      0.94        64
     Class B       0.98      1.00      0.99       296

    accuracy                           0.98       360
   macro avg       0.99      0.95      0.97       360
weighted avg       0.98      0.98      0.98       360